includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - database/migrations
        - tests/Fixtures
    tmpDir: storage/phpstan
